<ul>
	<li><%= link_to "Назад на сайт!!!!!!", main_path %></li>
	<li><%= link_to "Новости", news_index_path %></li>
	<li><%= link_to "Категории", categories_path %></li>
	<li><%= link_to "Товары", items_path %></li>
	<li><%= link_to "Контакты", contacts_path %></li>
</ul>