<script>
	$(document).ready(function() {
    var carousel = $("#carousel").featureCarousel({
        // include options like this:
        // (use quotes only for string values, and no trailing comma after last option)
        // option: value,
        // option: value
      });

      $("#but_prev").click(function () {
        carousel.prev();
      });
      $("#but_pause").click(function () {
        carousel.pause();
      });
      $("#but_start").click(function () {
        carousel.start();
      });
      $("#but_next").click(function () {
        carousel.next();
      });
      $divs = $('#content #cat_item')
      $divs.on('mouseover', function(e) {
        $(this).addClass("item_border");
        $(this).find(".moredetails").show();
      });
      $divs.on('mouseout', function(e) {
        $(this).removeClass("item_border");
        $(this).find(".moredetails").hide();
      });
	});
</script>
<div class="carousel-container">

      <div id="carousel">
      	<% @images.each do |img| %>
        <div class="carousel-feature">
        	<%= link_to (image_tag img.picture1.url(:index), class: "carousel-image"), "#{catalog_path}/item/#{img.id}" %>
          <div class="carousel-caption">
            <p><%= img.desc %></p>
          </div>
        </div>
        <% end %>
      </div>

      <div id="carousel-left"><img src="assets/arrow-left.png" /></div>
      <div id="carousel-right"><img src="assets/arrow-right.png" /></div>
</div>


<div>
  <div class="news">
    <h2>Последние новости</h2>
    <% @news.each do |n| %>
      <% unless n.main %>
        <%= n.date %>
        <%= n.content %>
        <br />
        <br />
      <% end %>
    <% end %>
  </div>

  <div class="index">
    <h2>Главная</h2>
    <% @news.each do |n| %>
      <%= n.content if n.main %>
    <% end %>
  </div>

  <div id="last_updates">
    <h2>Обновления каталога</h2>
    <% @last_items.each_with_index do |item, index| %>
      <div id="cat_item">
        <div class="image"><%= link_to (image_tag item.picture1.url(:catalog), class: "image round"), "#{catalog_path}/item/#{item.id}" %></div>
        <div class="desc"><% if item.title && !item.title.empty? %><%= item.title %><% end %></div>
        <div class="price"><% unless item.price.nil? %><%= item.price %> руб.<% end %></div>
        <div class="moredetails"><%= link_to "Детали >>", "#{catalog_path}/item/#{item.id}" %></div>
      </div>
    <% end %>

  </div>
</div>