<h2><%= @item.title %></h2>
<div class="item-desc"><%= @item.desc %></div>

<div class="item-price"><%= @item.price %> руб.</div>
<div class="item-share">
	<!-- VK.COM START -->
<script type="text/javascript">
	<!--
	document.write(VK.Share.button({
	  url: '<%= request.url %>',
	  title: '<%= @item.title %>',
	  description: '<%= @item.desc %>',
	  image: '<%= request.host_with_port %><%= @item.picture1.url(:medium)  %>',
	  noparse: true
	},
	{
		type: 'round',
		text: 'Поделиться'
	}));
	-->
	</script>
	<!-- VK.COM END -->

</div>

